<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>carreras</title>
</head>
<body>

<h1>Carreras</h1>
<a href="{% url 'app_creditos:carrera_new' %}">Nueva Carrera</a>

{% if mensaje %}
    <b>{{mensaje}}</b>
    <p>
{% endif %}

<ul>
{% for carrera in object_list %}
    {% if carrera.estado == True %}
        <li>{{ carrera.nombre }} -- {{carrera.secretario }}
            <a href=" {% url 'app_creditos:carrera_edit' carrera.pk %}">editar</a>
            <a href=" {% url 'app_creditos:carrera_delete' carrera.pk %}">borrar</a>
            <a href=" {% url 'app_creditos:carrera_disable' carrera.pk %}">deshabilitar</a>
        </li>
    {% endif %}
{% endfor %}
</ul>

</body>
</html>