<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>secretarios</title>
</head>
<body>

<h1>Secretarios</h1>

<br>
<a href="{% url 'app_creditos:secretario_new' %}">Nuevo secretario</a>

<ul>
{% for s in object_list %}
        <li>{{ s.nombre }} --
            <a href=" {% url 'app_creditos:secretario_edit' s.pk %}">editar</a>
            <a href=" {% url 'app_creditos:secretario_delete' s.pk %}">borrar</a>
            <a href=" {% url 'app_creditos:secretario_disable' s.pk %}">deshabilitar</a>
        </li>
{% endfor %}
</ul>

<br>
<br>

<a href=" {% url 'app_creditos:index' %} "> inicio</a>

</body>
</html>